*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/raleway/Raleway-Regular.ttf");
}





header{
    background-color: rgb(10, 10, 10);
    position: sticky;
    z-index: 10;
    top: 0;
    
    
}

.text_blanco{
    color: white;
}
.text_blanco:hover{
    color: yellow;
}
.fondo_negro{
    background-color: black;
}
nav{
    background-color: black;
}
body{
    background-color: #3f3c3c;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
}
h2{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.amarillo{
    color: rgb(163, 163, 17);
}
.parrafo1{
    padding: 10px;
    line-height: 2;
    
}
.titularColor{
    color: green;
}

ul{
    padding: 20px;
    list-style-type: none;
}
.lista_header{
    padding: 10px;
    border: rgb(255, 255, 255) solid 2px;
    margin: 5px;
    display: inline-block;
    
    
}
.lista_main{
    padding: 10px;
    border: rgb(255, 255, 255) solid 2px;
    margin: 5px;
    display: inline-block;
    
}
.lista_footer{
    padding: 10px;
    border: rgb(255, 255, 255) solid 2px;
    margin: 5px;
    text-align: center;
}
.header_logo{
    
    margin-left: 5%;
    padding: 10px;
}
.header_form{
    display: inline-block;
    
}
h3{
    text-align: center;
    color: aliceblue;
    padding: 10px;
}

.logo{
    max-width: 100px; 
    height: auto;
    border-radius: 50px;
}
.img_car{
    
    margin-left: 30%;
    height: auto;
    width: 40%;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
    
}
.img_car_vela{
    margin-left: 35%;
    height: auto;
    width: 30%;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
}
.logo_nosotros{
    border-radius: 30px;
}
.img1{
    text-align: center;
    
}
.img2{
    text-align: center;
    width: 700px;
    border-radius: 20px;
    padding: 10px;
    
}
.img3{
    text-align: center;
    width: auto;
    border-radius: 20px;
    padding: 10px;
    opacity: 1;
}
.img3:hover{
    border: white solid;
    
    
}
.center{
    text-align: center;
}
.borderedondeado{
    border-radius: 50%;
    border: solid black 3px;
}
main{
    grid-area: main;
    text-align: center;
}
.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px;
}

.container img {
    width: 100%;          
    height: auto;         
    object-fit: cover;    
    border-radius: 8px;   
}
nav{
    width: 100%;
}

@media screen and (max-width: 748px) {
    .container {
        grid-template-columns: 1fr 1fr; 
    }
    .container img {
        max-width: 100%; 
        height: auto;
        
    }
    nav ul {
        display: flex; 
        justify-content: center; 
        padding: 0; 
        list-style: none; 
        gap: 15px; 
    }
    header{
        display: flex;
        flex-direction: column; 
        align-items: center;    
        padding: 10px;
    }
    .logo-container {
        display: flex;
        justify-content: center; 
        width: 100%; 
    }
    .logo{
        max-width: 100px;
        width: auto; 
    }
    .img2{
        height: auto;
        width: 100%;
    }
    .header_logo{
        margin-left: 25%;
    }

}


@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr; 
    }
    .container img {
        max-width: 90%; 
        height: auto;
    }
    nav ul {
        display: flex; 
        justify-content: center; 
        padding: 0; 
        list-style: none; 
        gap: 15px; 
    }
    header{
        display: flex;
        flex-direction: column; 
        align-items: center;    
        padding: 10px;
    }
    .logo{
        max-width: 100px;
        width: auto; 
    }
    .img2{
        height: auto;
        width: 100%;
    }
    
    .lista_header{
        display: list-item;
        
    }
    .header_logo{
        margin-left: 0%;
    }
    
    .img_car{
    
        margin-left: 0%;
        height: auto;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        padding: 10px;
        
    }
    .img_car_vela{
        margin-left: 0%;
        height: auto;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        padding: 10px;
    }
}

