
$color-background: #3f3c3c;
$color-header: rgb(10, 10, 10);
$color-text: white;
$color-black: rgb(20, 20, 20);
$border-radius: 20px;
$font-family: Arial, Helvetica, sans-serif;
$color-yellow: yellow;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, $color-background, $color-black);
  font-family: $font-family;

}


.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: $border-radius;
  }
}


header {
  background-color: $color-header;
  position: sticky;
  top: 0;
  z-index: 10;
  .logo {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    
    
  }
  nav{

    ul {
      display: flex;
      list-style: none;
      gap: 15px;
      
      li {
        padding: 10px;
        border: 2px solid $color-text;
        
      }
      
    } 
    .text_blanco {
      color: $color-text;
      &:hover {
        color: $color-yellow;
      }  
    }
    
  }  
  
}

  

main {
  
  text-align: center;
  .lista_main {
    display: flex;
    background-color: #3f3c3c;
    border-radius: 20px;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 10px;
    &:hover{
      transform: scale(1.05,1.05);
      transition: all 1.3s;
    }
  }
  .container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
  }
}

h2{
    color: $color-text;
    padding: 20px;
}



h3{
    text-align: center;
    color: aliceblue;
    padding: 10px;
}


.img3{
    text-align: center;
    width: auto;
    border-radius: $border-radius;
    padding: 10px;
    opacity: 1;

    
}

ul{
    padding: 20px;
    list-style-type: none;
}



.logo_nosotros{
    border-radius: 30px;
}

.img2 {
  width: 700px;
  border-radius: $border-radius;
  padding: 10px;
}

.img_car {
  margin: 0 auto;
  height: auto;
  width: 40%;
  object-fit: cover;
  border-radius: $border-radius;
  padding: 10px;
}

.img_car_vela{
    margin-left: 35%;
    height: auto;
    width: 30%;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
}

footer {
    background-color: black;
    color: $color-text;
    text-align: center;
    padding: 20px;
    .container {
      display: flex;
      justify-content: center;
      gap: 15px;
    }
    ul{
      li {
        margin: 5px;
        text-align: center;
        padding: 10px;
        border: 2px solid $color-text;
        list-style-type: none;
      } 
    }
    .lista_footer {
      margin: 5px 0;
      font-size: 1.2rem;
      a {
        color: white;
        text-decoration: none;
        :hover {
          text-decoration: underline;
        }
      }
    }
}

@media screen and (max-width: 748px) {
    main{
      .container {
        grid-template-columns: 1fr 1fr;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    } 


  header{
    .container {
      flex-direction: column;
      align-items: center;
    }
  } 
  .img2{
    height: auto;
    width: 100%;
    }
}

@media screen and (max-width: 480px) {
  main{
    .container {
      grid-template-columns: 1fr;
      img {
        max-width: 90%;
        height: auto;
      }
    }
  } 


  header{
    .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  } 
  .img_car {
    width: 100%;
  }
  .img2{
    height: auto;
    width: 100%;
    }
}
